.signature-list {
  display: grid;
  font-size: 0.7rem;
  grid-template-columns: 1fr;
  grid-template-areas: 'imperium' 'indestor' 'lamakler' 'rentercorp' 'welltor' 'indestor1' 'lamakler1' 'rentercorp1' 'welltor1';
  grid-gap: 1.5rem;
}

.imperium {
  grid-area: imperium;
}

.indestor {
  grid-area: indestor;
}

.lamakler {
  grid-area: lamakler;
}

.rentercorp {
  grid-area: rentercorp;
}

.welltor {
  grid-area: welltor;
}

.indestor1 {
  grid-area: indestor1;
}

.lamakler1 {
  grid-area: lamakler1;
}

.rentercorp1 {
  grid-area: rentercorp1;
}

.welltor1 {
  grid-area: welltor1;
}

@media (min-width: 450px) {
  .signature-list {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .signature-list {
    display: grid;
    font-size: 1.1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'imperium indestor' 'lamakler rentercorp' 'welltor indestor1' 'lamakler1 rentercorp1' 'welltor1 .';
    grid-gap: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .signature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'imperium indestor lamakler' 'rentercorp welltor indestor1' 'lamakler1 rentercorp1 welltor1';
    grid-gap: 1.5rem;
  }
}
